@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  --color-primary: #f2f2f2;
  --color-secondary: #0065fc;
  --color-thirty: #deebff;
}

body {
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  max-width: 1400px;
  color: black;
}

p {
  margin: 0;
  padding: 0;
}

img {
  object-fit: cover;
}

/* ---------------- CSS du header ------------------- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.img img {
  width: 50px;
}

nav {
  display: flex;
  justify-content: center;
  width: 300px;
}

nav > a {
  flex-basis: 50%;
  text-transform: capitalize;
  text-decoration: none;
  border-top: 3px solid #fff;
  color: black;
  padding: 30px 20px;
}

nav > a:hover {
  border-top: 3px solid var(--color-secondary);
  color: var(--color-secondary);
}

/* ---------------- CSS du first-container -------------- */

h1 {
  font-weight: 700;
  font-size: 1.2rem;
  margin: 20px 0 10px 0;
}

#first-container .first {
  margin-bottom: 20px;
}

/* -------------------- CSS barre de recherche ----------------- */

form {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
}

.locate {
  padding: 15px;
  border: 2px solid var(--color-primary);
  border-radius: 15px 0 0 15px;
  background: var(--color-primary);
  color: black;
}

input {
  width: 200px;
  height: 49px;
  padding: 10px;
  border: 1px solid var(--color-primary);
}

input::placeholder {
  color: black;
  font-weight: 700;
}

input[type="text"]:focus {
  border: 1px solid var(--color-primary);
}

button {
  padding: 15px;
  border: 2px solid var(--color-secondary);
  border-radius: 0 15px 15px 0;
  background: var(--color-secondary);
  color: #fff;
}

form i.search {
  display: none;
  padding: 15px;
  border: 2px solid var(--color-secondary);
  border-radius: 0 15px 15px 0;
  background: var(--color-secondary);
  color: #fff;
}

/* --------------- CSS du filtre --------------  */

.filter,
.economic,
.family,
.romantic,
.animals {
  display: flex;
}

.filter {
  width: 100%;
  gap: 4%;
}

.filter-group {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  gap: 30px;
  width: 100%;
}

.btn-filter {
  display: flex;
  align-items: center;
  gap: 5%;
  padding: 15px 20px;
  border: 1px solid #d9d9d9;
  border-radius: 30px;
  user-select: none;
  cursor: pointer;
}

.btn-filter:hover {
  background: var(--color-thirty);
}

.filter p {
  display: flex;
  align-items: center;
  font-weight: 700;

  padding-bottom: 0;
  white-space: nowrap;
}

/* ---------- CSS de la phrase info ------------- */

.p-info {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 30px 0;
}

.circle-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #d6d6d6;
}

.circle-info i {
  font-size: 9px;
}

/* ---------- CSS des icônes ----------- */

i {
  color: var(--color-secondary);
}

.light {
  color: var(--color-thirty);
}

.stars {
  font-size: 10px;
}

.img {
  object-fit: cover;
}

/* ---------- CSS section hébergements ----------- */

#second-container {
  display: flex;
  justify-content: space-between;
  gap: 2%;
  margin-bottom: 50px;

}

.home,
article {
  background: var(--color-primary);
  border-radius: 10px;
  padding: 25px 0;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-basis: 1;
}

.home h2,
.more {
  width: 90%;
  margin: 10px auto;
}

h2 {
  width: 90%;
  font-size: 1.3rem;
  font-weight: 700;
}


.cards-home {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 25px;
  flex-basis: 83%;
  row-gap: 6%;
}

.card-home {
  width: 30%;
  height: 200px;
  min-width: 195px;
  padding: 5px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 2px 8px 20px #cbcbcb;
}

.img-home {
  width: 100%;
  height: 62%;
  border-radius: 10px 10px 0 0;
}

.info-home {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.info-home h3,
.card-pop h3 {
  margin-top: 9px;
  font-weight: 800;
}

span {
  font-weight: 700;
}

.more {
  font-size: 1.1rem;
  font-weight: 700;
}

.more,
.home h2 {
  flex-grow: 10%;
}

/* ---------- CSS articles populaires ----------- */

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 40%;
  min-width: 270px;
}

.title-pop {
  display: flex;
  justify-content: space-between;
}

.title-pop,
.cards-pop {
  width: 80%;
  margin: 10px auto;
}

.cards-pop {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 0;
}

.card-pop {
  display: flex;
  height: 144px;
  min-width: 180px;
  gap: 15px;
  padding: 5px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 2px 8px 20px #cbcbcb;
}

.img-pop {
  width: 38%;
  border-radius: 10px 0 0 10px;
}

.info-pop {
  display: flex;
  flex-direction: column;
  margin: 0 5px 5px 0;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 2;
}

.price p {
  padding-top: 10px;
}

/* ---------- third container ----------- */

.cards-activity {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 30px 0 50px 0;
}

.card-activity {
  width: 23%;
  border-radius: 20px;
  box-shadow: 2px 8px 20px #cbcbcb;
}

.img-act {
  width: 100%;
  height: 88%;
  border-radius: 20px 20px 0 0;
}

.city {
  display: flex;
  align-items: center;
  height: 12%;
  padding: 3px 20px 5px 20px;
}

.card-activity h3 {
  font-weight: 700;
}

/* ---------------- CSS du footer ---------------- */

footer {
  display: flex;
  gap: 15%;
  padding: 45px;
  background: var(--color-primary);
}

h4 {
  font-weight: 800;
  padding-bottom: 15px;
}

li {
  line-height: 28px;
}

/* ---------------- Responsive tablette ----------------------- */

@media screen and (max-width: 992px) {
  body {
    width: 90%;
    margin: auto;
  }

  /* ---------- responsive filtre ---------- */

  .btn-filter {
    gap: 5%;
  }

  /* ----- responsive second container ----- */

  #second-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;

  }

  .cards-home {
  width: 90%;
  padding: 0;
  gap: 30px;
  }

  .info-home {
    margin: 0 5px 0 5px;
  }

  #second-container > article {
    width: 100%;
    gap: 2%;
    padding:25px 0;
  }

  article .title-pop {
    width: 90%;
    margin: 10px auto;
  }

  .more {
    margin-top: 20px;
  }

/* ----- responsive section Les plus populaire  ----- */

  .cards-pop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 10px 0;
    gap: 20px;
  }

  .card-pop {
    width: 40%;
  }

  .info-pop {
    margin: 10px 0 0 5px;
  }

  .img-act {
    height: 80%;
  }

  .city {
    height: 20%;
  }

/* ----- responsive footer  ----- */

  footer {
    gap: 10%;
  }
}

/* ---------------- Responsive mobile ----------------------- */

@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }

  /* -------Responsive header ---------- */

  header {
    display: block;
  }

  .img {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }

  nav {
    width: 100%;
  }

  nav a {
    flex-basis: 50%;
    text-align: center;
    border-bottom: 2px solid var(--color-primary);
  }

  nav a:hover {
    border-bottom: 2px solid var(--color-secondary);
    border-top: none;
  }

  /* -------Responsive first container ---------- */

  #first-container {
    width: 90%;
    margin: auto;
  }

  h1 {
    margin-top: 40px;
  }

  /* -------Responsive barre de recherche ---------- */

  form {
    width: 100%;
  }

  .locate {
    text-align: center;
    width: 15%;
  }

  form input {
    width: 70%;
  }

  button {
    display: none;
  }

  form i.search {
    display: block;
    text-align: center;
    width: 15%;
  }

  /* -------Responsive Filtres ---------- */

  .filter {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .filter-group {
    justify-content: space-between;
  }

  .btn-filter {
    gap: 3%;
    width: 47%;
    justify-content: start;
  }

  /* -------Responsive second container ---------- */

  #second-container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  
  article {
    border-radius: 0%;
  }
  
  .home {
    background: none;
    padding: 0 0;
  }

  .cards-home,
  .cards-pop,
  .cards-activity,
  #third-container h2 {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }

  .cards-home {
    justify-content: center;
    flex-wrap: nowrap;
  }

  .card-home,
  .card-pop,
  .card-activity {
    width: 100%;
  }

  .cards-pop {
    margin-top: 10px;
  }

  .cards-activity {
    margin: 30px auto;
    gap: 30px;
  }
  .card-activity {
    height: 200px;
  }

  /* -------Responsive footer ---------- */

  footer {
    display: block;
    width: 100%;
    gap: 10%;
  }
  footer div{
    margin-bottom: 50px;
  }
}
