@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  --color-primary: #f2f2f2;
  --color-secondary: #0065fc;
  --color-thirty: #deebff;
}

body {
  font-family: 'Raleway', sans-serif;
  padding: 0 22px;
  margin: auto;
  max-width: 1400px;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

img {
  object-fit: cover;
}

span {
  font-weight: 700;
}

h3 {
  font-weight: 700;
}
/* ---------------- CSS du header ------------------- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

header img {
  width: 60px;
}

nav {
  display: flex;
  width: 300px;
}

nav > a {
  flex-basis: 50%;
  text-transform: capitalize;
  border-top: 3px solid transparent;
  padding: 30px 0;
}

nav > a:hover {
  border-top: 3px solid var(--color-secondary);
  color: var(--color-secondary);
}

/* ---------------- CSS du first-container -------------- */

h1 {
  font-weight: 800;
  font-size: 22px;
  margin: 25px 0 14px 0;
}

/* -------------------- CSS barre de recherche ----------------- */

form {
  display: flex;
  align-items: center;
  margin: 20px 0 30px 0;
}

form i:first-child {
  padding: 15px;
  border: 2px solid var(--color-primary);
  border-radius: 15px 0 0 15px;
  background: var(--color-primary);
  color: black;
}

input {
  width: 200px;
  height: 50px;
  padding: 10px;
  border: 1px solid var(--color-primary);
}

/* focus sur l'input text et couleur du text intérieur */

input::placeholder {
  color: black;
  font-weight: 800;
  /* pour la compatibilité avec firefox */
  opacity: 1;
}

input:focus {
  outline: none;
  border: 1px solid var(--color-secondary);
}

button {
  font-weight: 800;
  padding: 15px;
  border: 2px solid var(--color-secondary);
  border-radius: 0 15px 15px 0;
  background: var(--color-secondary);
  color: #fff;
}

form i.search {
  display: none;
  padding: 15px;
  border: 2px solid var(--color-secondary);
  border-radius: 0 15px 15px 0;
  background: var(--color-secondary);
  color: #fff;
}

/* --------------- CSS du filtre --------------  */

.filter {
  display: flex;
  align-items: center;
  gap: 3%;
}

.filter p:first-child {
  font-weight: 800;
}

.btn-filter {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 15px 20px;
  border: 2px solid #d9d9d9;
  border-radius: 30px;
  /* la sélection du texte est impossible */
  user-select: none;
  cursor: pointer;
}

.btn-filter:hover {
  background: var(--color-thirty);
}

.btn-filter p {
  font-weight: 700;
  /* Les mots ne passent pas à la ligne même s'il n'a pas de place */
  white-space: nowrap;
}

.btn-filter i {
  font-size: 20px;
}

/* ---------- CSS de la phrase info ------------- */

.p-info {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 30px 0;
}

.circle-info {
  display: flex;
  justify-content: center;
  align-items: center;
  /* éviter que le block se déforme et reste proportionnel */
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #d6d6d6;
}

.circle-info i {
  font-size: 9px;
}

/* ---------- CSS des icônes ----------- */

i {
  color: var(--color-secondary);
}

.light {
  color: var(--color-primary);
}

.stars {
  font-size: 12px;
}

/* ---------- CSS section hébergements ----------- */

#second-container {
  display: flex;
  gap: 2%;
  margin-bottom: 50px;
}
  
  h2, h3 {
    font-weight: 800;
  }

.hebergement,
article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: var(--color-primary);
  border-radius: 20px;
  padding: 25px 0;
}

.hebergement {
  flex-basis: 70%;
  min-width: 660px;
}

.hebergement h2,
.more {
  width: 90%;
  margin: 15px auto;
}

h2 {
  width: 90%;
  font-size: 20px;
}

.cards-hebergement {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  flex-basis: 80%;
}

.card-hebergement {
  width: 28%;
  min-width: 198px;
  height: 200px;
  padding: 5px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 2px 8px 20px #cbcbcb;
}

.card-hebergement img {
  width: 100%;
  height: 62%;
  border-radius: 15px 15px 0 0;
}

.info-hebergement {
  display: flex;
  flex-direction: column;
  margin: 8px 0 0 9px;
  gap: 7px;
}

.more {
  font-size: 20px;
  font-weight: 700;
}

/* ---------- CSS articles populaires ----------- */

article {
  width: 30%;
}

.title-pop {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 15px auto;

}

.cards-pop {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto 10px auto;
  gap: 30px;
}

.card-pop {
  display: flex;
  height: 145px;
  min-width: 180px;
  gap: 6%;
  padding: 5px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 2px 8px 20px #cbcbcb;
}

.img-pop {
  width: 38%;
  border-radius: 15px 0 0 15px;
}

.info-pop {
  display: flex;
  flex-direction: column;
  margin: 10px 0px 8px 0;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 2;
}

.price p {
  padding-top: 10px;
}

/* ---------- third container ----------- */

.cards-activity {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 30px 0 50px 0;
}

.card-activity {
  width: 23%;
  border-radius: 20px;
  box-shadow: 2px 8px 20px #cbcbcb;
}

.card-activity img {
  width: 100%;
  height: 88%;
  border-radius: 20px 20px 0 0;
}

.city {
  display: flex;
  align-items: center;
  height: 12%;
  padding: 0 20px;
}


/* ---------------- CSS du footer ---------------- */

footer {
  display: flex;
  gap: 15%;
  padding: 45px;
  background: var(--color-primary);
}

footer h3 {
  padding-bottom: 15px;
}

li {
  line-height: 28px;
}

/* ---------------- Responsive tablette ----------------------- */

@media screen and (max-width: 992px) {

  /* ---------- responsive filtre ---------- */
  .filter {
    gap: 2%;
  }

  .btn-filter {
    gap: 4%;
  }

  /* ----- responsive second container ----- */

  #second-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;

  }

  .cards-hebergement {
  width: 90%;
  row-gap: 55px;
  }

  .info-hebergement {
    margin: 0 5px 0 5px;
  }

  #second-container > article {
    width: 100%;
    gap: 2%;
    padding:25px 0;
  }

  article .title-pop {
    width: 90%;
    margin: 10px auto;
  }

  .more {
    margin-top: 20px;
  }

/* ----- responsive section Les plus populaire  ----- */

  .cards-pop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 10px 0;
    gap: 20px;
  }

  .card-pop {
    width: 40%;
  }

  .info-pop {
    margin: 10px 0 0 5px;
  }

  .card-activity img {
    height: 80%;
  }

  .city {
    height: 20%;
  }

/* ----- responsive footer  ----- */

  footer {
    gap: 10%;
  }
}

/* ---------------- Responsive mobile ----------------------- */

@media screen and (max-width: 768px) {
  body {
    padding: 20px 0 0 0;

  }

  /* -------Responsive header ---------- */

  header {
    display: flex;
    flex-direction: column;
  }

  nav {
    width: 100%;
  }

  nav a {
    flex-basis: 50%;
    text-align: center;
    border-bottom: 2px solid var(--color-primary);
  }

  nav a:hover {
    border-bottom: 2px solid var(--color-secondary);
    border-top: none;
  }

  /* -------Responsive first container ---------- */

  #first-container {
    width: 90%;
    margin: auto;
  }

  h1 {
    margin-top: 40px;
  }

  /* -------Responsive barre de recherche ---------- */

  form {
    width: 100%;
  }

  .locate {
    text-align: center;
    width: 60px;
  }

  form input {
    width: 100%;
  }

  button {
    display: none;
  }

  form i.search {
    /* réapparition de la loupe */
    display: block;
    text-align: center;
    width: 60px;
  }

  /* -------Responsive Filtres ---------- */

  .filter {
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    gap: 20px;
  }

  /* premier p enfant */
  .filter p:first-child {
    width: 100%;
  }
  
  .btn-filter {
    width: 45%;
    font-size: 14px;
  }

  .btn-filter p {
    /* Le texte se cache quand la div commmence a etre plus petit que lui */
    overflow: hidden;
  }
  
  /* ------- Info ---------- */

  .p-info {
    margin: 40px 0;
  }

  /* -------Responsive second container ---------- */

  #second-container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  
  article {
    border-radius: 0;
  }
  
  .hebergement {
    background: none;
    padding: 0 0;
  }

  .cards-hebergement,
  .cards-pop,
  .cards-activity {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
 
  .card-hebergement,
  .card-pop,
  .card-activity {
    width: 100%;
  }

  .cards-hebergement {
    justify-content: center;
    flex-wrap: nowrap;
    row-gap: 20px;
  }

  .info-hebergement {
    margin: 8px 0 0 10px;
  }
  
  .cards-pop {
    margin: 10px 0;
  }
  
  .more {
    display: none;
  }

  .cards-activity {
    margin: 30px auto;
    gap: 30px;
  }

  .card-activity {
    height: 200px;
  }

  #third-container h2 {
    width: 90%;
    margin: auto;
  }

  /* -------Responsive footer ---------- */

  footer {
    display: block;
    width: 100%;
    gap: 10%;
  }
  footer div{
    margin-bottom: 50px;
  }
}